service cloud.firestore {
  match /databases/{database}/documents {
    match /fixes/{fix} {
      allow read, write;
    }

    match /fcmTokens/{token} {
      allow write;
    }
  }
}