<div class="top-level">
    <mat-toolbar class="top-bar">
      <h1>Kaffe @ a4</h1>
      <button 
        mat-raised-button 
        (click)="unsubscribeToPush()" 
        class="abort-subscription-btn"
        *ngIf="isSubscribedToCoffeeUpdates"
        >
        Avslutt kaffeoppdateringer
      </button>
      <button 
      mat-raised-button 
      (click)="subscribeToPush()" 
      class="abort-subscription-btn"
      *ngIf="!isSubscribedToCoffeeUpdates"
      >
      Abboner på kaffeoppdateringer
    </button>
    </mat-toolbar>
  <div>
    <mat-card *ngFor="let fix of fixes | async | slice:0:1" class="fix-card">
      <mat-chip-list>
          <mat-chip class="good-coffee-btn" selected *ngIf="isOld(fix.timestamp)">OK</mat-chip>
          <!-- <mat-chip class="horrible-coffee-btn" selected *ngIf="isOld(fix.timestamp)"><img *ngIf="isOld(fix.timestamp)" src="assets/warning.png" class="hazard-img"></mat-chip> -->
          <img *ngIf="!isOld(fix.timestamp)" src="assets/warning.png" class="hazard-img">

      </mat-chip-list>
      <div>
        <p class="card-text">Kaffemaskin sisst rengjort:</p>
        {{ fix.timestamp | date:'d, MM, y, HH:mm:ss'}} | ({{timeSince(fix.timestamp)}} dager siden)
      </div>
    </mat-card>
  </div>
    
  <button mat-raised-button color="primary" (click)="openDialog()" class="clean-btn">Jeg rengjorde akkurat kaffetrakteren!</button>
  

  <mat-card>
    <mat-card-title class="historie-title">
      Historie
    </mat-card-title>
      <div>
        <mat-card *ngFor="let fix of fixes | async; let last = last" class="fix-card">
            {{ fix.timestamp | date:'d, MM, y, HH:mm'}} | ({{timeSince(fix.timestamp)}} dager siden)
        </mat-card>
    </div>

  </mat-card>



</div>