mat-card {
    margin: 8px;
}
.top-level {
    display: flex;
    flex-direction: column;
}

.fix-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
.card-content {
    display: flex;
    justify-content: space-around;
} */

.clean-btn {
    margin: 20px auto;
}

.history-btn {
    margin: 20px auto; 
}

.card-text {
    margin: 8px 0px 8px;
}

.good-coffee-btn.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #27e427;
}

.horrible-coffee-btn.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #f0e334;
    color: black;
}

.hazard-img {
    width: 55px;

}