<div class="top-level">
    <mat-toolbar class="top-bar">Kaffe @ a4</mat-toolbar>
  
  <div>
    <mat-card *ngFor="let fix of fixes | async | slice:0:1" class="fix-card">
      <mat-chip-list>
          <mat-chip class="good-coffee-btn" selected *ngIf="isOld(fix.timestamp)">OK</mat-chip>
          <!-- <mat-chip class="horrible-coffee-btn" selected *ngIf="isOld(fix.timestamp)"><img *ngIf="isOld(fix.timestamp)" src="assets/warning.png" class="hazard-img"></mat-chip> -->
          <img *ngIf="!isOld(fix.timestamp)" src="assets/warning.png" class="hazard-img">

      </mat-chip-list>
      <div>
        <p class="card-text">Kaffemaskin sisst rengjort:</p>
        {{ fix.timestamp | date:'d, MM, y, HH:mm:ss'}} | ({{timeSince(fix.timestamp)}} dager siden)
      </div>
    </mat-card>
  </div>
    
  <button mat-raised-button color="primary" (click)="openDialog()" class="clean-btn">Jeg rengjorde akkurat kaffetrakteren!</button>
  

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Historie
        </mat-panel-title>
        <mat-panel-description>
          Tidligere heltedåder
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <mat-card *ngFor="let fix of fixes | async; let last = last" class="fix-card">
            {{ fix.timestamp | date:'d, MM, y, HH:mm'}} | ({{timeSince(fix.timestamp)}} dager siden)
        </mat-card>
    </div>

    </mat-expansion-panel>
  </mat-accordion>



</div>